{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <p>¿Quieres aprender? Entonces estás en la web adecuada.
        Se admiten propuestas de temas de los que hablar, nunca se para de aprender.
    </p>
    <br>
    <p><b>Teléfono:</b> +34 678 901 234</p>
    <p><b>Disponibilidad:</b> L-V (8:00-15:00)</p>
    <p><b>Honorarios:</b> 10000€/h (precio base)</p>
    </div>
</div>
{% endblock %}