{% extends 'core/base.html' %}
{% load static %}
{% block title %}Portafolio{% endblock %}
{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1>Portafolio</h1>
    <span class="subheading">Currículo</span>
{% endblock %}
{% block content %}
    <!-- Proyecto -->
    <div class="row project">
    <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid"
    src="{% static 'core/img/about-bg.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
    <h2 class="section-heading title">Segundo proyecto</h2>
    <p>Los marcianos llevan mucho tiempo viviendo entre los terrícolas,
        de hecho no nacieron de las películas y la literatura (que no dieron ni una),
        sino que tuvieron su propia génesis, que ya contaremos en otro momento.
        Como los marcianos tienen un cerebro mucho más grande, entendieron que su trabajo en
        el futuro sería crear, diseñar y realizar las ideas de los terrícolas.</p>
    <p><a href="http://google.com">Más información</a></p>
    </div>
    </div>
    <!-- Proyecto -->
    <div class="row project">
    <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid"
    src="{% static 'core/img/home-bg.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
    <h2 class="section-heading title">Primer proyecto</h2>
    <p>Los científicos que utilizan datos del vehículo explorador
        Curiosity de la NASA midieron por primera vez el carbono
        orgánico total —un componente clave en las moléculas de la vida— en rocas marcianas.</p>
    <p><a href="http://google.com">Más información</a></p>
    </div>
    </div>
{% endblock %}